<input type="checkbox" id="toggle-sidebar">


<!--   EXHIBITION MENU INCLUDED   -->
<div class="fp_sidebar">

    <!--    SIDE BAR HEADER AND SITE TITLE  -->
    <div class="sidebar-header">
        <label for="toggle-sidebar" class="sidebar-toggle">
            <svg viewBox="0 0 100 80" class="sidebar_color_theme" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </label>

        <a href="{{ s_con.base_url }}" class="sidebar_color_theme">
            <h2 style="font-weight: 900; min-width: 300px;">
                ULLA RAUTER
            </h2>
        </a>

        <!--        THIS SHOULD BE REPLACED WITH A JAVASCRIPT LOGIC HERE-->
        {% if s_con.current_proj != "-" %}
        <h2 class="sidebar-header sidebar_project_ttl">
            {% if s_con.language == "eng" %}
            {{ s_con.current_proj }}
            {% else %}
            {{ s_con.current_proj }}
            {% endif %}
        </h2>
        {% endif %}
    </div>


    <!--    PROJECTS LIST   -->

    <div class="works_menu">
        <a href="#" class="menu_toggle sidebar_color_theme works_weight">
            {% if s_con.language == "eng" %}
            works
            {% else %}
            Arbeiten
            {% endif %}
        </a>

        <ul class="sub_menu">
            {% for prj in s_con.all_projects %}
            <li>
                <a href="{{s_con.base_url}}/project/{{prj[8]}}" class="sidebar_color_theme">
                    {% if s_con.language == "eng" %}
                    {{ prj[0] }}
                    {% else %}
                    {{ prj[5]}}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <!--    BIO, CONTACT, ADMIN SITE MENUS      -->

    <a href="{{s_con.base_url}}/bio" class="sidebar_color_theme bio_weight">
        {% if s_con.language == "eng" %}
        bio
        {% else %}
        CV
        {% endif %}
    </a>
    <a href="{{s_con.base_url}}/contact" class="sidebar_color_theme contact_weight">
        {% if s_con.language == "eng" %}
        contact
        {% else %}
        Kontakt
        {% endif %}
    </a>
    {% if s_con.admin %}
    <a href="{{ s_con.base_url }}admin" class="sidebar_color_theme admin_weight">admin</a>
    {% endif %}
    <svg x="0" class="language" width="80" height="2" viewBox="0 0 80 2">
        <rect x="-42" width="220" height="21"></rect>
    </svg>
    <div style="display: flex; margin-top: 4px ">
        {% if s_con.language == "eng" %}

        <a href="{{ s_con.base_url }}/set_language=de" class="sidebar_color_theme"
           style="font-size: 17px;">DT</a>
        <h5 class="sidebar_color_theme" style="font-size: 17px; margin: 0 6px;">|</h5>
        <a href="{{ s_con.base_url }}/set_language=eng" class="sidebar_color_theme"
           style=" font-size: 17px; font-weight: 300">EN</a>

        {% else %}

        <a href="{{ s_con.base_url }}/set_language=de" class="sidebar_color_theme"
           style="font-size: 17px; font-weight: 300">DT</a>
        <h5 class="sidebar_color_theme" style="font-size=17px; margin: 0 6px;">|</h5>
        <a href="{{ s_con.base_url }}/set_language=eng" style="font-size: 17px;"
           class="sidebar_color_theme">EN</a>
        {% endif %}
    </div>


    <!--    CURRENT EXHIBITIONS LIST    -->
    <div id="exhibitions">
        <ul class="frontpage_exhib_list" style="padding: 5% 0; margin: 0">
            {% for exhib in s_con.current_exhib %}
            <li>
                <!--    EXHIBITION TITLE AND LINK    -->
                {% if exhib[0] != "000" %}
                <a href="{{ exhib[3] }}" target="_blank" rel="noopener noreferrer">
                    <h7 style="font-weight: bold; color: white">
                        {% if s_con.language == "eng" %}
                        {{ exhib[0] }}
                        {% else %}
                        {{ exhib[0] }}
                        {% endif %}
                    </h7>
                </a>

                {% else %}
                <h7 style="font-weight: bold; color: white">
                    {% if s_con.language == "eng" %}
                    {{ exhib[0] }}
                    {% else %}
                    {{ exhib[0] }}
                    {% endif %}
                </h7>
                {% endif %}
                <p>
                    {{ exhib[1]}} - {{exhib[2] }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
