<input type="checkbox" id="toggle-sidebar">

<!--   EXHIBITION MENU INCLUDED   -->
<div class="sidebar">

    <!--  SIDE BAR HEADER AND SITE TITLE  -->
    <div class="sidebar-header">
        <label for="toggle-sidebar" class="sidebar-toggle">
            <svg viewBox="0 0 100 80" class="sidebar_color_theme" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </label>

        <a href="/" class="sidebar_color_theme">
            <h2 style="font-weight: 900; min-width: 300px;">
                ULLA RAUTER
            </h2>
        </a>

        <!-- THIS SHOULD BE REPLACED WITH A JAVASCRIPT LOGIC HERE-->
        <h2 class="sidebar-header sidebar_project_ttl">
        </h2>
    </div>


    <!--    PROJECTS LIST   -->

    <div class="works_menu">
        <a href="#" class="menu_toggle sidebar_menu">
            works
        </a>

        <ul class="sub_menu">
            {% for prj in all_projects %}
            <li>
                <a href="/project/{{prj[8]}}" >
                    {{ prj[0] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <!--    BIO, CONTACT, ADMIN SITE MENUS      -->

    <a href="/bio" class="sidebar_menu">
        bio
    </a>
    <a href="/contact" class="sidebar_menu">
        contact
    </a>

    <svg x="0" class="language" width="80" height="2" viewBox="0 0 80 2">
        <rect x="-42" width="220" height="21"></rect>
    </svg>
    <div style="display: flex; margin-top: 4px ">
        <a href="#" onclick="language_change('de'); return false;" 
                    class="sidebar_color_theme" style="font-size: 17px;">DE</a>
        <h5 class="sidebar_color_theme" style="font-size: 17px; margin: 0 6px;">|</h5>
        <a href="#" onclick="language_change('eng'); return false;" 
                    class="sidebar_color_theme" style="font-size: 17px; font-weight: 300">EN</a>
    </div> 
    {{ current_exhib|safe }}
</div>

